#navbar {
    background-color:plum;
    text-align:center;
}

#navbar li {
    
    background-color: plum;
    border: none;
    color: white;
    padding:12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: cursive;
    margin: 4px 2px;
    cursor: pointer;
}